.brands {
    margin-top: 60px;
    margin-bottom: 97px;
}

.brands .title {
    margin-bottom: 30px;
}

.brands .brands-slick {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: #FFFFFF;
    border: 1px solid #EDECF2;
    box-sizing: border-box;
    border-radius: 3px;
    height: 86px;
    padding: 0 52px;
}

.brands-slick-img {
    margin: 0 15px;
    width: 100%;
    display: block;
}

.brands .brands-slick img {
    height: 26px;
    width: 100%;
    object-fit: contain;
    display: block;
    margin: 0 auto;
    transition: .3s;
    filter: grayscale(1);
}

.brands .brands-slick img:hover {
    filter: grayscale(0);
}

.brands .brands-slick .slick-arrow-prev {
    position: absolute;
    left: 12px;
}

.brands .brands-slick .slick-arrow-next {
    position: absolute;
    right: 12px;
}