.main {
    display: flex;
    overflow: hidden;
}

.main header .header-top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    padding-top: 15px;
    padding-left: 23px;
}

.main header .header-top form {
    max-width: 461px;
    width: 100%;
    position: relative;
}

.main header .header-top form input {
    width: 100%;
    height: 39px;
    border: 1px solid #393185;
    box-sizing: border-box;
    border-radius: 3px;
    padding-left: 11px;
    padding-right: 49px;
    outline: none;
    font-family: Futura PT;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 18px;
    color: #000;
}

.main header .header-top form input::placeholder {
    color: #898989;
}

.main header .header-top form button {
    position: absolute;
    border: none;
    outline: none;
    background: #393185;
    border-radius: 0px 3px 3px 0px;
    height: 100%;
    text-align: center;
    width: 48px;
    right: 0;
}

.main header .header-top form button svg {
    position: absolute;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%)
}

.main header .header-top .header-top__additional a {
    font-family: "Futura PT";
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 15px;
    color: #000000;
    text-decoration: none;
}

.main header .header-top .header-top__additional .tel a {
    font-weight: bold;
    line-height: 14px;
}

.btn {
    font-family: "Futura PT";
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 21px;
    background: #393185;
    border-radius: 3px;
    max-width: 159px;
    width: 100%;
    height: 36px;
    text-align: center;
    color: #FFFFFF;
    outline: none;
}

.btn:hover {
    color: #FFFFFF;
}

.main header .header-top .header-top__menu {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: space-between;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    margin: 10px 0;
}

.main header .header-top .header-top__menu li {
    list-style: none;
}

.main header .header-top .header-top__menu li a {
    font-family: "Futura PT";
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 26px;
    color: #000000;
    text-decoration: none;
}

.main header .header-top .header-top__menu li.active a {
    color: #E31717;
}

.main header .main__banner {
    display: grid;
    position: relative;
    width: 100vw;
}

.main header .main__banner .main__banner-item {
    width: 100%;
    display: flex;
    align-content: center;
    justify-content: center;
    flex-direction: column;
    align-items: flex-start;
    padding: 65px 24px;
    height: 100%;
}

.main header .main__banner .main__banner-item h2 {
    font-family: "Futura PT";
    font-style: normal;
    font-weight: 450;
    font-size: 55px;
    line-height: 65px;
    max-width: 450px;
    text-transform: uppercase;
    color: #393185;
}

.main header .main__banner .main__banner-item .main__banner-item-description {
    max-width: 485px;
    padding-left: 30px;
    position: relative;
    margin-top: 30px;
}

.main header .main__banner .main__banner-item .main__banner-item-description::before {
    content: '';
    position: absolute;
    left: 0;
    width: 5px;
    background: #393185;
    height: 100%;
}

.main header .main__banner .main__banner-item .main__banner-item-description h3 {
    font-family: "Futura PT";
    font-style: normal;
    font-weight: normal;
    font-size: 30px;
    line-height: 38px;
    text-transform: uppercase;
    margin-bottom: 15px;
    color: #000000;
}

.main header .main__banner .main__banner-item .main__banner-item-description h4 {
    font-family: "Futura PT";
    font-style: normal;
    font-weight: normal;
    font-size: 30px;
    line-height: 37px;
    color: #000000;
}

.main header .main__banner .slick-dots {
    display: flex;
    align-items: center;
    gap: 10px;
    margin: 0;
    margin-left: 30%
}

.main header .main__banner .slick-dots li {
    list-style: none;
}

.main header .main__banner .slick-dots li button {
    background: none;
    border: none;
    font-size: 0;
    background: #DBDBDB;
    border-radius: 100px;
    width: 10px;
    height: 10px;
    padding: 0;
}

.main header .main__banner .slick-dots li.slick-active button {
    background: #393185;
}