.news {
    background: #FFFFFF;
    margin-bottom: 30px;
}

.news .title {
    margin-bottom: 30px;
}

.news .news__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

.news .news__list .news__item {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    width: 100%;
    background: #FFFFFF;
    border: 1px solid #EDECF2;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    border-radius: 3px;
    margin: 0 13px;
    padding-top: 12px;
}

.news .news__list .slick-arrow {
    height: 18px;
    width: 9, 72px;
    z-index: 9;
    position: absolute;
    top: 50%;
    cursor: pointer;
}

.news .news__list .slick-arrow.slick-arrow-prev {
    left: -31px;
}

.news .news__list .slick-arrow.slick-arrow-next {
    right: -31px;
}

.news .news__list .news__item .news__item-title {
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 29px;
    text-align: center;
    color: #000000;
    max-width: 204px;
    margin: 0 auto;
    margin-bottom: 15px;
}

.news .news__list .news__item img {
    width: 100%;
}

.news .news__list .news__item p {
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 18px;
    color: #000000;
    padding: 15px;
}

.news .news__list .news__item .news__item-bottom {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    padding: 15px;
    padding-top: 0;
}

.news .news__list .news__item .news__item-bottom .news__item-data {
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 18px;
    text-align: center;
    color: #898989;
}

.news .news__list .news__item .news__item-bottom a {
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 22px;
    color: #393185;
    text-decoration: none;
}

.news .news__list .news__item .news__item-bottom svg {
    margin-left: 8px;
}

.news .news__more {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 29px;
    text-align: right;
    color: #393185;
    margin-top: 30px;
    text-decoration: none;
    justify-content: center;
}

.news .news__more svg {
    margin-left: 8px;
}

.news .news__list .slick-dots {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin: 0;
    padding: 0;
    width: 100%;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
}

.news .news__list .slick-dots li {
    list-style: none;
    margin-right: 10px;
}

.news .news__list .slick-dots li:last-child {
    margin-right: 0;
}

.news .news__list .slick-dots li button {
    background: none;
    border: none;
    font-size: 0;
    background: #DBDBDB;
    border-radius: 100px;
    width: 10px;
    height: 10px;
    padding: 0;
}

.news .news__list .slick-dots li.slick-active button {
    background: #393185;
}