.oneItem {
    margin: 30px auto;
}

.oneItem h2 {
    font-style: normal;
    font-weight: normal;
    font-size: 30px;
    line-height: 1.26;
    color: #000000;
    margin-bottom: 30px;
    margin-top: 20px;
}

.oneItem__table {
    display: flex;
    align-content: center;
}

.oneItem__table-left {
    max-width: 35%;
    position: relative;
}

.oneItem__table-list {
    display: flex;
    overflow: hidden;
    justify-content: space-between;
    align-items: center;
}

.oneItem__table .slider-for {
    position: relative;
    max-width: 70%;
}

.slider-nav {
    max-width: 19%;
}

.slider-nav img {}

.oneItem__table .slider-for .slick-arrow {
    position: absolute;
    top: 50%;
    z-index: 9;
}

.oneItem__table .slider-for .slick-arrow-next {
    right: 0;
}

.oneItem__table-right {
    margin-left: 30px;
    max-width: 50%;
}

.oneItem__table-right_futures {
    display: flex;
    justify-content: space-around;
    align-items: flex-end;
    margin: 0;
    padding: 0;
    align-content: center;
    margin: 0 auto;
    max-width: 45%;
    margin-bottom: 35px;
}

.oneItem__table-right_futures li {
    text-decoration: none;
    list-style: none;
    position: relative;
    cursor: pointer;
}

.oneItem__table-right_futures-open {
    display: none;
    position: absolute;
    background: #FFFFFF;
    box-shadow: 0px 4px 4px rgb(0 0 0 / 25%);
    border-radius: 3px;
    z-index: 9;
    padding: 15px;
    width: 370px;
    left: -147px;
    top: 40px;
    min-height: 128px;
}

.oneItem__table-right_futures-open span {
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    line-height: 1.28;
    display: block;
    margin-bottom: 15px;
    text-align: center;
    color: #000000;
}

.oneItem__table-right_futures-open ul {
    padding: 0;
    margin: 0;
}

.oneItem__table-right_futures-open ul li {
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 1.25;
    color: #000000;
    list-style: disc;
    margin-bottom: 10px;
    margin-left: 15px;
}

.oneItem__table-right_futures-open ul li::marker {
    color: #393185;
}

.oneItem__table-right_futures li:hover .oneItem__table-right_futures-open {
    display: block;
}

.oneItem__table-right_futures li:hover>svg path {
    fill: #393185;
}

.oneItem__table-right_price {
    margin-bottom: 30px;
    display: flex;
    align-items: center;
}

.oneItem__table-right_price h3 {
    font-style: normal;
    font-weight: 450;
    font-size: 20px;
    line-height: 1.3;
    color: #000000;
}

.oneItem__table-right_price span {
    font-style: normal;
    font-weight: 450;
    font-size: 30px;
    line-height: 1.26;
    color: #393185;
}

.oneItem__table-right_price button {
    margin-left: auto;
}

.oneItem__table-right_content h5 {
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.28;
    color: #000000;
    margin-bottom: 15px;
}

.oneItem__table-right_content p {
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 1.55;
    color: #4F4F4F;
}

.oneItem__table-right_production {
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.28;
    color: #000000;
    margin-bottom: 30px;
}

.oneItem__table-right_production img {
    max-width: 152px;
    width: 100%;
    margin-left: 15px;
}

.oneItem__content .tab-panel {
    display: none;
}

.oneItem__content .tab-panel.active {
    display: block;
}

.oneItem__content .tabs {
    display: flex;
    justify-content: space-between;
    margin: 0;
    padding: 0;
    margin-top: 40px;
    margin-bottom: 7px;
    width: fit-content;
}

.oneItem__content .tabs li {
    list-style: none;
}

.oneItem__content .tabs li a {
    text-decoration: none;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 1.3;
    color: #4F4F4F;
    background: #EDECF2;
    border-radius: 3px 3px 0px 0px;
    padding: 10px;
    margin-right: 11px;
}

.oneItem__content .tabs li a.active {
    color: #393185;
    background: #FFFFFF;
    border: 1px solid #EDECF2;
    box-sizing: border-box;
    border-radius: 3px 3px 0px 0px;
    border-bottom: 0;
}

.oneItem-specialOffers .title {
    padding: 0;
}

.oneItem__content .tab-pane {
    padding: 30px;
    background: #FFFFFF;
    border: 1px solid #EDECF2;
    box-sizing: border-box;
    border-radius: 0px 3px 3px 3px;
}

.oneItem__content .tab-pane p {
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 1.55;
    color: #4F4F4F;
    margin-bottom: 15px;
}

.oneItem__content .tab-pane h4 {
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.28;
    color: #000000;
}

.oneItem__content .tab-pane h5 {
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.28;
    color: #000000;
    margin-bottom: 15px;
}

.oneItem__content .tab-pane ul {
    padding: 0;
    margin: 0;
    margin-left: 20px;
}

.oneItem__content .tab-pane ul li {
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 1.28;
    margin-bottom: 10px;
    color: #4F4F4F;
}

.oneItem__content .tab-pane ul li::marker {
    color: #393185;
}