@import url(fonts/fonts.css);
@import url(css/normilaze.css);
@import url(css/slick.css);
@import url(css/bootstrap.min.css);
@import url(css/menu.css);
@import url(css/main.css);
@import url(css/brands.css);
@import url(css/about.css);
@import url(css/specialOffer.css);
@import url(css/feedback.css);
@import url(css/news.css);
@import url(css/footer.css);
@import url(css/mediaSize.css);
body {
    background: #FAFAFA;
    font-family: 'Futura PT';
    overflow-x: hidden;
}

::-webkit-scrollbar {
    width: 5px;
    background-color: #DBDBDB;
}

::-webkit-scrollbar-thumb {
    background: #393185;
    border-radius: 3px;
    height: 30px;
}

::-webkit-scrollbar-button:vertical:start:decrement {
    display: none;
}

::-webkit-scrollbar-button:vertical:end:increment {
    display: none;
}

::-webkit-scrollbar-button:horizontal:start:decrement {
    display: none;
}

::-webkit-scrollbar-button:horizontal:end:increment {
    display: none;
}

.container {
    padding-left: 310px;
    max-width: 100% !important;
}