@import url(fonts/fonts.css);
@import url(css/normilaze.css);
@import url(css/slick.css);
@import url(css/bootstrap.min.css);
@import url(css/menu.css);
@import url(css/main.css);
@import url(css/brands.css);
@import url(css/about.css);
@import url(css/specialOffer.css);
@import url(css/feedback.css);
@import url(css/news.css);
@import url(css/footer.css);
@import url(css/catalogs.css);
@import url(css/aboutMain.css);
@import url(css/caralogMore.css);
@import url(css/contacts.css);
@import url(css/newsMain.css);
@import url(css/specialOfferMore.css);
@import url(css/newsOne.css);
@import url(css/oneItem.css);
@import url(css/mediaSize.css);
body {
    background: #FAFAFA;
    font-family: 'Montserrat', sans-serif;
    overflow-x: hidden;
}

::-webkit-scrollbar {
    width: 5px;
    background-color: #DBDBDB;
}

::-webkit-scrollbar-thumb {
    background: #393185;
    border-radius: 3px;
    height: 30px;
}

::-webkit-scrollbar-button:vertical:start:decrement {
    display: none;
}

::-webkit-scrollbar-button:vertical:end:increment {
    display: none;
}

::-webkit-scrollbar-button:horizontal:start:decrement {
    display: none;
}

::-webkit-scrollbar-button:horizontal:end:increment {
    display: none;
}

.loaderArea {
    background: #fff;
    overflow: hidden;
    position: fixed;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    z-index: 100000;
}

.load {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    /*change these sizes to fit into your project*/
    width: 100px;
    height: 100px;
}

.load hr {
    border: 0;
    margin: 0;
    width: 40%;
    height: 40%;
    position: absolute;
    border-radius: 50%;
    opacity: 1;
    animation: spin 2s ease infinite;
    -webkit-animation: spin 2s ease infinite;
}

.load :first-child {
    background: #393185;
    animation-delay: -1.5s
}

.load :nth-child(2) {
    background: #4b5761;
    animation-delay: -1s
}

.load :nth-child(3) {
    background: #393185;
    animation-delay: -0.5s
}

.load :last-child {
    background: #4b5761
}

@keyframes spin {
    0%,
    100% {
        transform: translate(0)
    }
    25% {
        transform: translate(160%)
    }
    50% {
        transform: translate(160%, 160%)
    }
    75% {
        transform: translate(0, 160%)
    }
}